attrs==23.2.0
beautifulsoup4==4.12.3
blinker==1.8.1
bottle==0.12.25
bottle-websocket==0.2.9
bs4==0.0.2
cattrs==23.2.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.1
decorator==5.1.1
Eel==0.16.0
Flask==3.0.3
future==1.0.0
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.1
gevent==24.2.1
gevent-websocket==0.10.1
GPUtil==1.4.0
greenlet==3.0.3
idna==3.7
instaloader==4.11
itsdangerous==2.2.0
Jinja2==3.1.3
keyboard==0.13.5
MarkupSafe==2.1.5
MouseInfo==0.1.3
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
pillow==10.3.0
platformdirs==4.2.1
playsound==1.2.2
plyer==2.1.0
psutil==5.9.8
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycparser==2.22
PyGetWindow==0.0.9
pyjokes==0.6.0
PyMsgBox==1.0.9
pyparsing==3.1.2
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyRect==0.2.0
PyScreeze==0.1.30
pyttsx3==2.90
pytube==11.0.1
pytweening==1.2.0
pywhatkit==5.4
pywikihow==0.5.7
pywin32==306
PyYAML==6.0.1
qrcode==7.4.2
ratelim==0.1.6
redis==5.0.4
requests==2.31.0
requests-cache==1.2.0
scipy==1.13.0
setuptools==69.5.1
six==1.16.0
sketchpy==0.1.7
soupsieve==2.5
SpeechRecognition==3.10.3
speedtest==0.0.1
speedtest-cli==2.1.3
spotipy==2.23.0
svg.path==6.3
svgpathtools==1.6.1
svgwrite==1.4.3
tqdm==4.66.4
turtle==0.0.1
typing_extensions==4.11.0
url-normalize==1.4.3
urllib3==2.2.1
Werkzeug==3.0.2
wheel==0.43.0
whichcraft==0.6.1
wikipedia==1.4.0
zope.event==5.0
zope.interface==6.3